<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jainer Avila">

    <title>@ViewData["Title"] - eventos</title>

    <!-- AdminKit CSS -->
    <link rel="stylesheet" href="~/adminkit/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("_Sidebar")

        <div class="main">
            @await Html.PartialAsync("_Navbar")

            <main class="content">
                @RenderBody()
            </main>

            @await Html.PartialAsync("_Footer")
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- AdminKit JS (incluye Bootstrap, Feather, etc.) -->
    <script src="~/adminkit/js/app.js" asp-append-version="true"></script>

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    @* Por si acaso, fuerza el reemplazo de Feather *@
    <script> if (window.feather && feather.replace) feather.replace(); </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
